{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}

    <h1>Votez pour la meilleure série française de tous les temps !</h1>
    <h2>Ensuite, barrez-vous.</h2>


{% endblock %}


