{% extends 'base.html.twig' %}

{% block title %}{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset("CSS/Home.css")  }}"/>
{% endblock %}

{% block body %}

    <main>

        <section class="Title">

            <h1>Votez pour la meilleure série française de tous les temps !</h1>
            <h2>Ensuite, barrez-vous.</h2>

        </section>

        <section class="Votes">


            <form method="post" action="{{ path("NewVote") }}">

            <table>
                <tr>
                    <td class="TdBarre"><div class="Barre"></div></td>
                    {% for Serie in Series %}
                        <td><div class="Barre" style="height: 100vh;"></div></td>
                    {% endfor %}
                </tr>

                <tr class="Radio">
                    {% for Serie in Series %}
                        <td><input type="radio" name="Vote" id="Serie" value="{{ Serie.id }}"/></td>
                    {% endfor %}

                </tr>

                <tr class="NomsSeries">

                    {% for Serie in Series %}
                        <td>{{ Serie.nom }}</td>
                    {% endfor %}

                </tr>
                <tr>
                    <td colspan="3" class="TD_BSubmit"><button class="Voter_Button" type="submit">Voter !</button></td>
                </tr>

            </table>

            </form>

        </section>

    </main>


{% endblock %}


