header
{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    min-height:4rem;
    background-color: #16a596;
    padding:0.2rem;
}


.Connexion
{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.Connexion .Formulaire
{
    width:85%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.Connexion .Formulaire input
{
    height:2.3rem;
    margin:0.5rem;
    outline:none;
    border:1px solid #f9ecec;
    font-size:1rem;
}
.Connexion .Formulaire input::placeholder
{
    font-size:1rem;
}

.Connexion .Formulaire .BConnexion
{
    border:none;
    outline: none;
    padding:0.7rem;
    background-color:#f6f5f1;
    border-radius:4px;
}
.Connexion .Formulaire .BConnexion:hover
{
    cursor:pointer;
}

.Connexion .BCreate_c
{
    text-align: center;
    padding:0.5rem;
    color:#f6f5f1;
    text-decoration: none;
}
.Connexion .BCreate_c:hover
{
    color:#FFF;
}

@media screen and (min-width: 200px)
{
    .Connexion
    {
        flex-direction: column;
    }

    .Connexion .Formulaire
    {
        width: 100%;
        flex-direction: column;
    }
    .Connexion .Formulaire input
    {
        width:100%;
    }
}
@media screen and (min-width: 400px)
{

    .Connexion .Formulaire
    {
        width: 85%;
    }

}
@media screen and (min-width: 500px)
{
    .Connexion .Formulaire
    {
        width: 80%;
    }
}

@media screen and (min-width: 600px)
{
    .Connexion .Formulaire
    {
        width:100%;
        flex-direction: row;
    }
}

@media screen and (min-width: 700px)
{
    .Connexion .Formulaire
    {
        width:87%;
        flex-direction: row;
    }
}

@media screen and (min-width: 900px)
{
    .Connexion
    {
        flex-direction: row;
    }
    .Connexion .Formulaire
    {
        width:70%;
    }
}

@media screen and (min-width: 1000px)
{
    .Connexion .Formulaire
    {
        width:50%;
    }

    .Connexion .Formulaire input
    {
        width:45%;
    }
}

@media screen and (min-width: 1600px)
{

    .Connexion .Formulaire input
    {
        width:38%;
    }
}

