header
{
    width:100%;
    height:10rem;
    padding:2rem;
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #19d3da;
    color:#FFF;
}

header ul
{
    width:100%;
    display:flex;
    flex-display: row;
    justify-content: center;
    align-items: center;
}

header ul li
{
    width:25%;
    text-align: center;
    list-style: none;
}

.Menu
{
    width:30%;
    dispay:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.Connexion, .Formulaire
{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.Formulaire
{
    width:100%;
    padding-top:1rem;
    justify-content: center;
    margin:auto;
}
.Formulaire input, .Formulaire button
{
    margin-right:1rem;
    height:2rem;
    border:none;
    outline:none;
    border-radius:4px;
}

.Connexion button
{
    width:20%;
    color:#686d76;
    background-color:#FFF;
    padding:0.2rem;
}
.Connexion button:hover
{
    color:#FFF;
    background-color:#373a40;
    cursor:pointer;
}

a
{
font-size:1rem;
    text-decoration: none;
    color:#212121;
}

@media screen and (min-width: 400px)
{
    header
    {
        height:auto;
    }
    .Menu
    {
        display: none;
    }
    .Connexion
    {
        width:100%;
        flex-direction: column;
    }
    .Formulaire
    {
        width:100%;
        flex-direction: column;

    }
    .Formulaire input
    {
        width:80%;
        margin-top:0.3rem;
        margin-bottom: 0.5rem;
    }

    .Formulaire button
    {
        width:40%;
        margin-right:0;
    }
    .Create_c
    {
        text-align: center;
        margin:1rem;
    }

}

@media screen and (min-width: 600px)
{
    .Menu
    {
        display: none;
    }
    .Connexion
    {
        width:100%;
        flex-direction: row;
    }
    .Formulaire
    {
        flex-direction: row;
        width:80%;
    }
    .Formulaire input
    {
        width:80%;
        margin-top:0.3rem;
        margin-bottom: 0.5rem;
    }

    .Formulaire button
    {
        width:40%;
        margin-right:0;
    }
    .Create_c
    {
        text-align: center;
        margin:1rem;
        width:auto;
    }

}

@media screen and (min-width: 700px)
{

    .Formulaire input
    {
        width:40%;
        margin-top:0.3rem;
        margin-bottom: 0.5rem;
    }

    .Formulaire button
    {
        width:20%;
        margin-right:0;
    }
    .Create_c
    {
        text-align: center;
        margin:1rem;
        width:auto;
    }

}

@media screen and (min-width: 800px)
{

    .Formulaire input
    {
        width:30%;
    }

    .Formulaire button
    {
        width:13%;
    }


}

@media screen and (min-width: 900px)
{

    .Formulaire input
    {
        width:20%;
    }

    .Formulaire button
    {
        width:10%;
    }


}