main
{
    width:70%;
    height:40%;
    margin:auto;
    margin-top:5rem;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

main .Title
{
    text-align: center;
}

.Title h2
{
    font-size:0.8rem;
}

.Votes
{
    width:100%;
    height:90%;
    margin:auto;
    text-align: center;
    margin-top:3rem;
    display: flex;
    flex-direction: column;

}

.Votes form
{
    width:100%;
    height:270px;
    margin:auto;
}
.Votes table
{
    border-collapse: separate;
    table-layout: fixed;
    width:50%;
    height:100%;
    margin:auto;
}

.Votes td
{
   width:100%;
   height:10%;
}

.Votes .TDBarre
{
height:90%;
vertical-align: bottom;

}

.Votes td .Barre
{
    width:40%;
    background-color: #c56183;
    margin:auto;

}

.Votes .TD_BSubmit
{
    padding:0.5rem;
}


.Voter_Button
{
    padding:0.6rem;
    border:none;
    outline: none;
    color:#FFF;
    background-color: #c56183;
    border-radius: 3px;
}
.Voter_Button:hover
{
    background-color: #794c74;
    cursor:pointer;
}


.Votes .NbVotes
{
    font-size:0.8rem;
}
@media screen and (min-width: 200px)
{
    main
    {
        width:100%;
        padding:1rem;
    }
    .Votes
    {
        width:100%;
        height:auto;
    }
    .Votes table, .Votes form
    {
        width:100%;
    }
    .Votes .Barre
    {
        width:60%;
    }

    .NomsSeries
    {
        font-size:0.7rem;
    }
    .Voter_Button
    {
        width:50%;
    }

    main .Title
    {
        font-size:1rem;
        height:10%;
        padding:1rem;
    }

}

@media screen and (min-width: 500px)
{
    .main
    {
        width:80%;
    }
    .Votes
    {
        width:95%;
    }

    .Voter_Button
    {
        width:50%;
    }
    .NomsSeries
    {
        font-size:0.9rem;
    }
    main .Title
    {
        font-size:1rem;
        height:25%;
        padding:0;
    }
}

@media screen and (min-width: 700px)
{
    .Votes
    {
        width:90%;
    }
    .Votes .Barre
    {
        width:50%;
    }
    .NomsSeries
    {
        font-size:1rem;
    }
    .Voter_Button
    {
        width:50%;
    }
}

@media screen and (min-width: 800px)
{
    .Votes
    {
        width:85%;
    }

    .Voter_Button
    {
        width:30%;
    }
}

@media screen and (min-width: 900px)
{

    .Votes
    {
        width:70%;
    }
    .Voter_Button
    {
        width:25%;
    }
}

@media screen and (min-width: 1000px)
{

    .Votes
    {
        width:50%;
    }

}