main
{
    width:100%;
    margin:auto;
    margin-top:5rem;
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
}

main section
{
    width:50%;
    height:50%;
    padding-top:2rem;
}
.Votes
{
    margin-top:1.4rem;
    height:20rem;
}
h1
{
    font-size:1.5rem;
    text-align: center;
}
h2
{
    font-size:0.9rem;
    text-align:center;
}


main form
{
    border:1px solid red;
    width:100%;
    height:100%;
}
table
{
    width:100%;
    height:100%;
    text-align: center;
    border-collapse: separate;
}

td
{
    width:10%;
    padding:2rem;
    padding-bottom:0;
    padding-top:0;
}

td .Barre
{
    background-color: #e97171;
    box-shadow: 0.3px 1px 2px gray;
}

.Radio td
{
    padding:0;
    height:1.4rem;
}

input[type=radio]
{
    height:1.6rem;
    background-color: yellow;
}

.NomsSeries
{
    font-size:0.8rem;
    font-weight: bold;
}
.NomsSeries td
{
    padding:0;
    height:2.4rem;
}

.Imgs_Series td
{
    padding:0;
    height:2rem;
    border:1px solid red;
}
.Imgs_Series img
{
    width:3rem;
    border:1px solid red;

}
