main
{
    margin:auto;
    display:flex;
    flex-direction:column;
}

main .Title
{
    height:10rem;
    text-align: center;
    margin:auto;
    background-color: #16a596;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Title h1, .Title h2
{
    color: #fff;
}
.Title h2
{
    font-size:0.8rem;
}

.Votes
{
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin:auto;
    margin-top:2rem;

}

.Votes form
{
    height:410px;
    margin:auto;


}
.Votes table
{
    border-collapse: separate;
    table-layout: fixed;
    height:100%;
    margin:auto;
}

.Votes td
{
   height:10%;
}

.Votes .TDBarre
{
height:90%;
vertical-align: bottom;

}

.Votes td .Barre
{
    background-color: #16a596;
    margin:auto;

}

.Votes .TD_BSubmit
{
    padding:0.5rem;
}

.TotalVote
{
    font-size:1rem;
}

.Voter_Button
{
    padding:0.6rem;
    border:none;
    outline: none;
    color:#FFF;
    background-color: #16a596;
    border-radius: 3px;
    margin-top:1.5rem;
}
.Voter_Button:hover
{
    background-color: #f6f5f1;
    color:#6D6F6E;
    cursor:pointer;
}

.Votes .ImgSerie img
{
    width:30%;
}

.Votes .NbVotes
{
    font-size:0.8rem;
}

@media screen and (min-width: 200px)
{
    main
    {
        width: 100%;
    }
    main .Title
    {
        width:100%;
    }
    main .Votes, main form, main table, main td
    {
        width:100%;
    }

    main .Votes, .Votes .NbVotes
    {
        font-size:0.5rem;
    }

    .Votes .ImgSerie img
    {
        width:100%;
    }

    .Voter_Button
    {
        width:90%;
    }
}

@media screen and (min-width: 300px)
{


    main .Votes, .Votes .NbVotes
    {
        font-size:0.7rem;
    }

    .Votes .ImgSerie img
    {
        width:80%;
    }

    .Voter_Button
    {
        width:70%;
    }
}


@media screen and (min-width: 400px)
{

    main .Votes, .Votes .NbVotes
    {
        font-size:0.9rem;
    }

    .Votes .ImgSerie img
    {
        width:40%;
    }

    .Votes td .Barre
    {
        width:90%;
    }
    .Voter_Button
    {
        width:50%;
    }
}

@media screen and (min-width: 500px)
{

    main .Votes, .Votes .NbVotes
    {
        font-size:1rem;
    }

    .Votes .ImgSerie img
    {
        width:46%;
    }

    main form
    {
        width:90%;
    }
    .Votes td .Barre
    {
        width:80%;
    }

    .Voter_Button
    {
        width:30%;
    }
}

@media screen and (min-width: 600px)
{



    .Votes .ImgSerie img
    {
        width:30%;
    }

    .Votes td .Barre
    {
        width:70%;
    }
}

@media screen and (min-width: 700px)
{


    .Votes td .Barre
    {
        width:60%;
    }
}

@media screen and (min-width: 800px)
{


    .Votes td .Barre
    {
        width:50%;
    }
}

@media screen and (min-width: 1000px)
{


    main .Votes
    {
        width:70%;
    }
    .Votes td .Barre
    {
        width:30%;
    }

    .Votes .ImgSerie img
    {
        width:10%;
    }

    .Voter_Button
    {
        width:20%;
    }
}

