#Inscription
{
    margin:auto;
    margin-top:3rem;
}

#Inscription .Title
{
    text-align: center;
    margin-bottom:2rem;
}

#Inscription .Formulaire
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

#Inscription .Formulaire form
{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    text-align: center;
}



#Inscription input
{
    height:2.3rem;
    border:1px solid #e0e0e0;
    outline: none;
    border-radius:4px;
    margin-bottom:1rem;
}

#Inscription .GoInscription
{
    height:2rem;
    margin-top:2rem;
    color:#FFF;
    background-color: #7e7474;
}
#Inscription .GoInscription:hover
{
    background-color: #c4b6b6;
    cursor:pointer;
}

.GoInscription
{
    border:none;
    outline: none;
    background-color: #898b8a;
}

@media screen and (min-width: 200px)
{
    #Inscription, #Inscription .Formulaire, #Inscription form
    {
        width:100%;
    }

    #Inscription input
    {
        width:100%;
    }

    .GoInscription
    {
        width:80%;
    }
}

@media screen and (min-width: 300px)
{
    .GoInscription
    {
        width:60%;
    }
}

@media screen and (min-width: 400px)
{

    form
    {
        padding:2rem;
    }
    #Inscription input
    {
        width:100%;
    }

}

@media screen and (min-width: 500px)
{


    #Inscription input
    {
        width:90%;
    }

    .GoInscription
    {
        width:40%;
    }

}

@media screen and (min-width: 600px)
{


    #Inscription input
    {
        width:70%;
    }

    .GoInscription
    {
        width:30%;
    }

}

@media screen and (min-width: 700px)
{


    #Inscription input
    {
        width:50%;
    }
    .GoInscription
    {
        width:20%;
    }

}

@media screen and (min-width: 900px)
{


    #Inscription input
    {
        width:45%;
    }



}

@media screen and (min-width: 1100px)
{


    #Inscription input
    {
        width:29%;
    }

    .GoInscription
    {
        width:17%;
    }

}


