#Inscription
{
    width:50%;
    margin:auto;
    margin-top:3rem;
}



#Inscription .Formulaire
{
    width:100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding:2rem;
}

#Inscription .Formulaire form
{
    width:100%;
}

#Inscription .Formulaire table
{
    width:70%;
    margin:auto;
    text-align: center;
    border-collapse: separate;
    border-spacing: 10px;
}

#Inscription .Formulaire td
{
    width:50%;
}
#Inscription .Formulaire table input
{
    width:100%;
    height:2.3rem;
    border:1px solid #e0e0e0;
    outline: none;
    border-radius:4px;
}

#Inscription .GoInscription
{
    width:30%;
    height:2rem;
    margin-top:2rem;
    color:#FFF;
    background-color: #7e7474;
}
#Inscription .GoInscription:hover
{
    background-color: #c4b6b6;
    cursor:pointer;
}




