{% extends 'base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset("CSS/Inscription.css")  }}"/>
{% endblock %}

{% block body %}

    <main id="Inscription">


        <p class="Title">Inscrivez-vous pour pouvoir voter.</p>
        <div class="Formulaire">
           {{ form(Form) }}
        </div>

    </main>


{% endblock %}


