{% extends 'base.html.twig' %}

{% block title %}{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset("CSS/Home.css")  }}"/>
{% endblock %}

{% block body %}

    <h1>Donnes bien mis à jour</h1>
    <h1>{{ e }}</h1>



{% endblock %}




