<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <link href = "https://fonts.googleapis.com/css2? family = Ubuntu: ital, wght @ 0,300; 0,400; 0,500; 0,700; 1,300; 1,400; 1,500; 1,700 & display = swap" rel = "styleheet" >
        <title>{% block title %}Welcome!{% endblock %}</title>
        <link rel="stylesheet" href="{{ asset("CSS/Default.css")  }}"/>
        <link rel="stylesheet" href="{{ asset("CSS/Header.css")  }}"/>

        {% block stylesheets %}{% endblock %}
    </head>
    <body>

    <header>

        <section class="Menu">



        </section>

        <section class="Connexion">

            <form class="Formulaire" method="post" action="#">

                <input type="text" name="Mail" id="Mail" placeholder="adresse mail.."/>
                <input type="password" name="Mp" id="Mp" placeholder="mot de passe.."/>
                <button type="submit" class="BConnexion">Connexion</button>
            </form>

            <a class="BCreate_c" href="{{ path("Inscription") }}">Ou creer un compte</a>



        </section>


    </header>

        {% block body %}{% endblock %}
        {% block javascripts %}{% endblock %}
    </body>

</html>


