{% extends 'base.html.twig' %}

{% block title %}Page introuvable{% endblock %}
{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset("CSS/Home.css")  }}"/>
    <link rel="stylesheet" href="{{ asset("CSS/NotFound.css")  }}"/>
{% endblock %}

{% block body %}

    <h1 class="NotFound">Page introuvable</h1>

{% endblock %}
