{% extends 'base.html.twig' %}

{% block title %}Modifier votre mot de passe - MeilleureSerieFrancaise.fr{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset("CSS/Acount.css")  }}"/>
{% endblock %}

{% block body %}

    <section id="Acount">

        <h1>Modifier le mot de passe</h1>

        <a href="{{ path('acount') }}">Retour</a>

        {{ form(Form) }}

    </section>

{% endblock %}


